.container__hero {
  background-image: url(src/assets/cookies3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    background-color: $base-color;
    border-radius: pxToRem(10);
    padding: pxToRem(14) pxToRem(20);

    p {
      font-size: pxToRem(25);
    }
  }
}